-
    var kindOfPizza = [
        {
                name: "Пепперони",
                descr: "Пикантная пепперони, томатный соус и сыр Моцарелла",
                url:"./assets/img/Pepperony.png",
                size1:"1/2",
                size2:"30см",
                size3:"36см",
                type1:"Тонкое",
                type2:"Традиционное",
                addition1:"+ больше сыра",
                addition2:"+ острее",
                price:"200р",
                weight:"/640гр",
                nameBtnS:"sizePeper",
                nameBtnD:"doughPeper",
                nameBtnA:"addPeper",
                id1:"Peper1",
                id2:"Peper2",
                id3:"Peper3",
                id4:"Peper4",
                id5:"Peper5",
                id6:"Peper6",
                id7:"Peper7",


                

        },
        {
                name: "Мацарэла",
                descr: "Пикантная чотенькая моцарэла",
                url:"./assets/img/Macarl.png",
                size1:"3/2",
                size2:"38см",
                size3:"36см",
                type1:"Толстое",
                type2:"Не Традиционное",
                addition1:"+ больше сыра",
                addition2:"+ острее",
                price:"2000р",
                weight:"/140гр",
                nameBtnS:"sizeMac",
                nameBtnD:"doughMac",
                nameBtnA:"addMac",
                id1:"Mac1",
                id2:"Mac2",
                id3:"Mac3",
                id4:"Mac4",
                id5:"Mac5",
                id6:"Mac6",
                id7:"Mac7",
        },
                {
                name: "Вкуснятина",
                descr: "Сочненькая пиццонька",
                url:"./assets/img/Macarl.png",
                size1:"1",
                size2:"2м",
                size3:"3м",
                type1:"Немецкий",
                type2:"Не Традиционное",
                addition1:"+ больше масла",
                addition2:"+ скорость",
                price:"20$",
                weight:"/140гр",
                nameBtnS:"sizeCar",
                nameBtnD:"doughCar",
                nameBtnA:"addCar",

        }


    ]
.container
    .basket-name Корзина
    .basket-field
        for inner in kindOfPizza
                .basket-item
                    img.basket-item-img(src=inner.url, alt="")
                    .basket-item-descr
                        .basket-item-descr-name=inner.name
                        .basket-item-descr-info=inner.size2 , inner.type1
                    .basket-settings-number
                        button.basket-item-button —
                        .basket-item-number 4
                        button.basket-item-button +
                    .basket-item-price=inner.price
                    img.basket-item-delete(src="./assets/img/basket-delete.png", alt="")
    .order-field
        .order-price
            .order-name Сумма заказа:
            .order-count  1890 р
        .order-button   
            a(href="index.html")
                button.order-button-back Вернуться в меню
            a(href="delivery.html")
                button.order-button-make Оформить заказ
            
            


                    

        
