.deliveryOrder
    .deliveryOrder-container
        .deliveryOrder-free
            .deliveryOrder-head Условия бесплатной доставки
            .deliveryOrder-text Доставка пиццы в черте города осуществляется бесплатно при заказе от 500 рублей. За чертой города стоимость достаки зависит от расстояния. Чтобы курьер доставил вам пицуу прямо к двери, то укажите пожалуйста все данные в параметрах доставки, включая номер квартиры.
            .deliveryOrder-text Время доставки пиццы зависит от количества заказов, среднестатистическое время доставки — 40 минут. Время выполнения заказа на доставку 5 и более пицц и за черту города оговаривается отдельно.
            .deliveryOrder-text Товар доставляется ежедневно с 10-00 до 22-00. Вся информация о плательщике и передаваемом товаре находится у курьера службы доставки.
        .deliveryOrder-card
            .deliveryOrder-head Оплата по банковским картам
            .deliveryOrder-text К оплате принимаются все виды платежных карточек VISA и MasterCard.
            .deliveryOrder-text Что нужно знать:
            ul
                li.deliveryOrder-text номер вашей кредитной карты;
                li.deliveryOrder-text cрок окончания действия вашей кредитной карты, месяц/год;
                li.deliveryOrder-text CVV код для карт Visa / CVC код для MasterCard.
        .deliveryOrder-garant
            .deliveryOrder-head Гарантийные обязательства
            .deliveryOrder-text В случае, если покупателя не устроил полученный товар, мы обязуемся заменить товар на аналогичный или вернуть денежные средства покупателю! Обязательным условием выполнения гарантийного обязательства является возврат не использованного товара курьеру!
            .deliveryOrder-text Оплата банковскими картами осуществляется после проверки заказа менеджером интернет-магазина.
        .deliveryOrder-cancel
            .deliveryOrder-head Отмена заказа
            .deliveryOrder-text При удалении товаров из оплаченного заказа или при аннулировании заказа целиком вы можете заказать другой товар на такую же сумму, либо полностью вернуть всю сумму на карту с помощью нашего администратора.
        button.big-button.big-button-green Выбрать пиццу