.delivery
    .delivery-settings
        .delivery-settings-name Параметры доставки
        .delivery-settings-type
            input(type="radio" name="del-set" id=4845 class="delivery-settings-type-item") 
            label(for=4845 class="delivery-settings-type-elem")="Доставка" 
            input(type="radio" name="del-set" id=555 class="delivery-settings-type-item") 
            label(for=555 class="delivery-settings-type-elem")="Самовывоз" 
        .delivery-settings-type
            input(type="radio" name="del-cash" id=112 class="delivery-settings-type-item") 
            label(for=112 class="delivery-settings-type-elem")="Наличными" 
            input(type="radio" name="del-cash" id=132 class="delivery-settings-type-item") 
            label(for=132 class="delivery-settings-type-elem")="Картой" 
        .delivery-field-main
            .delivery-field-street
                .delivery-field-elemName Улица
                input.delivery-field-elemText-street(type="text")
            .delivery-field-house
                .delivery-field-elemName Дом
                input.delivery-field-elemText(type="text")
            .delivery-field-flat
                .delivery-field-elemName Квартира
                input.delivery-field-elemText(type="text")
            .delivery-field-porch
                .delivery-field-elemName Подъезд
                input.delivery-field-elemText(type="text")
            .delivery-field-floor
                .delivery-field-elemName Этаж
                input.delivery-field-elemText(type="text")
        .delivery-field-feedback
            .delivery-field-elemName Комментарий к заказу
            textarea.delivery-field-feedback-text
        .delivery-field-consent
            input(type="checkbox" class="delivery-consent") 
            .delivery-consent-text Я ознакомился с условиями использования предоставляемых мной сведений и выражаю согласие на обработку моих персональных данных.
        
        .delivery-order
            .order-button   
                a(href="index.html")
                    button.order-button-make Оплатить