-
    var feedback = [
        {
                name: "Максим А.",
                date: "20. 06. 2019",
                text:"Вкуснейшая горячая пицца, мгновенная доставка. Супер! Всё понравилось, рекомендую каждому!!)",
        },
        {
                name: "Анна К.",
                date: "29. 05. 2019",
                text:"Безумно вкусная пицца! Заказываем теперь только здесь. Тесто тонкое и просто тает во рту.",
        },
        {
                name: "Андрей В.",
                date: "27. 05. 2019",
                text:"Пицца очень вкусная, как домашняя, только приготовленно профессионалом. Особенно понравилась морская. Не пожалели креветок, мидий, сыра, кальмаров. Я большая любительница море продуктов, поэтому эта пицца по мне.",
        },
        {
                name: "Марина К.",
                date: "21. 05. 2019",
                text:"Безумно вкусная пицца! Заказываем теперь только здесь. Тесто тонкое и просто тает во рту.",
        },
    ]
    var hearts = [
        {
            item:"./assets/img/heart.png",
            small_Item:"./assets/img/heart-small.png",
        },
        {
            item:"./assets/img/heart.png",
            small_Item:"./assets/img/heart-small.png",
        },
        {
            item:"./assets/img/heart.png",
            small_Item:"./assets/img/heart-small.png",
        },
        {
            item:"./assets/img/heart.png",
            small_Item:"./assets/img/heart-small.png",
        },
        {
            item:"./assets/img/heart.png",
            small_item:"./assets/img/heart-small.png",
        },
    ]
.feedback
    img.feedback-img(src="./assets/img/feedback-logo.png", alt="")
    .feedback-img-items
        .feedback-assessment-cursor
            for inner in hearts
                    img.feedback-assessment-item(src=inner.item, alt="")
        .feedback-text-bold А вам понравилась наша пицца?
        .feedback-text Оцените нашу пиццу по пятибальной шкале или напишите отзыв, это поможет нам стать еще лучше!
        .feedback-heart
            for inner in hearts
                    img.feedback-heart-item(src=inner.item, alt="")
            img.feedback-cursor(src="./assets/img/cursor.png", alt="")
            button.big-button.big-button-orange#myBtn Оставить отзыв
            .popup#mypopup
                .popup-content
                    span.close &times;
                    .popup-container
                        form.popup-input-form
                            input.popup-input(type="text" placeholder="Представьтесь, пожалуйста")
                        .popup-underline
                        .popup-text
                        form.popup-input-form
                            input.popup-input(type="text" placeholder="Комментарий")
                        .popup-underline
                        button.big-button.big-button-orange Сохранить отзыв



    .feedback-container        
        for inner in feedback
            .feedback-item
                .feedback-item-name-date
                    .feedback-item-name=inner.name
                    .feedback-item-date=inner.date
                .feedback-item-heart
                    for inner in hearts
                        img.feedback-item-heart(src=inner.small_item, alt="")
                .feedback-item-text=inner.text
                .feedback-item-input


