-
   var footerElements = [
        {
            urlLogo : "./assets/img/footer-logo.png",
            pizza : "Пицца",
            sale : "Акции",
            feedback : "Отзывы",
            delivery : "Доставка и оплата",
            lovePizza : "Почему мы любим пиццу?",
            urlAddr : "./assets/img/footer-address.png",
            addr : "г. Саранск, Переулок Кириллова, 2Б",
            urlTime : "./assets/img/footer-time.png",
            time : "пн-чт:  9:00 - 22:00 пт-вс:  10:00 - 23:00",
            phone : "31-11-91"
        }
    ]
 
.footer
    .container
        .footer-block
            for inner in footerElements
                .footer-logo-and-info
                    img.footer-logo(src=inner.urlLogo, alt="")
                    .footer-info    
                        .footer-info-block  
                            .footer-info-block-block
                                .footer-block-block-text=inner.pizza
                                .footer-block-block-text=inner.sale
                                .footer-block-block-text=inner.feedback
                            .footer-info-block-block
                                .footer-block-block-text=inner.delivery
                                .footer-block-block-text=inner.lovePizza
                                

                .footer-address-phone
                    .footer-address-time
                        .footer-address
                            img.detail-info-image(src=inner.urlAddr, alt="")
                            .footer-block-block-text=inner.addr
                        .footer-time   
                            img.detail-info-image(src=inner.urlTime, alt=" ")
                            .footer-block-block-text=inner.time
                    .footer-phone-inst
                        .footer-phone=inner.phone
                        .footer-inst




