-
    var menu = [
        {
            name: "Пицца",
            href: "#"
        },
        {
            name:"Акции",
            href:"#"
        }
        ,
        {
            name:"Отзывы",
            href:"#"
        }
        ,
        {
            name:"Доставка и оплата",
            href:"deliveryOrder.html"
        }
        ,
        {
            name:"Почему мы любим пиццу",
            href:"lovePizza.html"
        }
    ]

.header

    
    img.header-logo(src="./assets/img/Pizza-logo.png", alt="")

    .header-info
    
        .top-info
            .detail-info
                img.detail-info-image(src="./assets/img/address-logo.png", alt="")
                .address г. Саранск,<br>Переулок Кириллова, 2Б
                img.detail-info-image(src="./assets/img/time-logo.png", alt=" ")
                    
                .time <b>пн-чт</b>:  9:00 - 22:00<br><b>пт-вс</b>:  10:00 - 23:00
            .phone 31-11-91
        ul.nav-info
            for inner in menu
                li
                    a(href= inner.href).nav-item= inner.name
    a.basket-button(href="basket.html")
        img.basket-img(src="./assets/img/basket-basket-box.png", alt="")
        img.basket-box-line(src="./assets/img/basket-box-line.png", alt="")
        .count 3
    

        

                            
