-
   var loveItem = [
        {
            img : "./assets/img/loveimg1.png",
            headInf1 : "Наша история",
            text1_1 : "Пицца — одно из блюд простого народа. Она готовилась из самых простых и дешевых ингредиентов. Чаще всего пицца представляла собой что-то вроде современной чиабатты: грубая лепешка, оливковое масло, травы и помидоры. ",
            text1_2 : "Когда в 1835 году Александр Дюма, автор «Трех мушкетеров», посетил Неаполь, он увидел, что бедные итальянцы там все лето питаются дынями, а зимой — лишь пиццей.",
            number1 : "1",
            number2 : "2",
            circle : "./assets/img/circle.png",
            headInf2 : "Простор для творчества",
            text2_1 : "Пицца — отличное место для рисования портретов! Владелец итальянского ресторана в Глазго Доменико Кролла готовит удивительную пиццу с настоящими шедеврами — портретами знаменитостей.",
            text2_2 : " Этот проект творческого итальянца называется «Pizza Couture», и для всех пицц он",
        },
        {
            img : "./assets/img/loveimg2.png",
            headInf1 : "Самый вкусный парфюм",
            text1_1 : "Пицца — одно из блюд простого народа. Она готовилась из самых простых и дешевых ингредиентов. Чаще всего пицца представляла собой что-то вроде современной чиабатты: грубая лепешка, оливковое масло, травы и помидоры. ",
            text1_2 : "Когда в 1835 году Александр Дюма, автор «Трех мушкетеров», посетил Неаполь, он увидел, что бедные итальянцы там все лето питаются дынями, а зимой — лишь пиццей.",
            number1 : "3",
            number2 : "4",
            circle : "./assets/img/circle.png",
            headInf2 : "Пицца и древние римляне",
            text2_1 : "Пицца — отличное место для рисования портретов! Владелец итальянского ресторана в Глазго Доменико Кролла готовит удивительную пиццу с настоящими шедеврами — портретами знаменитостей.",
            text2_2 : " Этот проект творческого итальянца называется «Pizza Couture», и для всех пицц он",
        },
        {
            img : "./assets/img/loveimg3.png",
            headInf1 : "Первая пиццерия",
            text1_1 : "Пицца — одно из блюд простого народа. Она готовилась из самых простых и дешевых ингредиентов. Чаще всего пицца представляла собой что-то вроде современной чиабатты: грубая лепешка, оливковое масло, травы и помидоры. ",
            text1_2 : "Когда в 1835 году Александр Дюма, автор «Трех мушкетеров», посетил Неаполь, он увидел, что бедные итальянцы там все лето питаются дынями, а зимой — лишь пиццей.",
            number1 : "5",
            number2 : "6",
            circle : "./assets/img/circle.png",
            headInf2 : "Традиционная итальянская пицца нравится не всем",
            text2_1 : "Пицца — отличное место для рисования портретов! Владелец итальянского ресторана в Глазго Доменико Кролла готовит удивительную пиццу с настоящими шедеврами — портретами знаменитостей.",
            text2_2 : " Этот проект творческого итальянца называется «Pizza Couture», и для всех пицц он",
        },
        {
            img : "./assets/img/loveimg4.png",
            headInf1 : "«Эффект пиццы»",
            text1_1 : "Пицца — одно из блюд простого народа. Она готовилась из самых простых и дешевых ингредиентов. Чаще всего пицца представляла собой что-то вроде современной чиабатты: грубая лепешка, оливковое масло, травы и помидоры. ",
            text1_2 : "Когда в 1835 году Александр Дюма, автор «Трех мушкетеров», посетил Неаполь, он увидел, что бедные итальянцы там все лето питаются дынями, а зимой — лишь пиццей.",
            number1 : "7",
            number2 : "8",
            circle : "./assets/img/circle.png",
            headInf2 : "Кальцоне - тоже пицца",
            text2_1 : "Пицца — отличное место для рисования портретов! Владелец итальянского ресторана в Глазго Доменико Кролла готовит удивительную пиццу с настоящими шедеврами — портретами знаменитостей.",
            text2_2 : " Этот проект творческого итальянца называется «Pizza Couture», и для всех пицц он",
        },
        {
            img : "./assets/img/loveimg5.png",
            headInf1 : "Музеи пиццы",
            text1_1 : "Пицца — одно из блюд простого народа. Она готовилась из самых простых и дешевых ингредиентов. Чаще всего пицца представляла собой что-то вроде современной чиабатты: грубая лепешка, оливковое масло, травы и помидоры. ",
            text1_2 : "Когда в 1835 году Александр Дюма, автор «Трех мушкетеров», посетил Неаполь, он увидел, что бедные итальянцы там все лето питаются дынями, а зимой — лишь пиццей.",
            number1 : "9",
            number2 : "10",
            circle : "./assets/img/circle.png",
            headInf2 : "Пицца может быть полезной",
            text2_1 : "Пицца — отличное место для рисования портретов! Владелец итальянского ресторана в Глазго Доменико Кролла готовит удивительную пиццу с настоящими шедеврами — портретами знаменитостей.",
            text2_2 : " Этот проект творческого итальянца называется «Pizza Couture», и для всех пицц он",
        },
        
    ]

.lovePizza  
    img.lovePizza-img(src="./assets/img/loveimg-main.png", alt="")
    .lovePizza-reasons 10 причин, почему мы любим пиццу
    .lovePizza-reasons-text Пицца — уникальное итальянское блюдо, которому посчастливилось стать популярным во всех уголках земного шара. Причиной такого успеха, наверное, можно назвать свободу в проявлении кулинарных фантазий, ведь пиццу готовят и на тонком, и на толстом тесте с самыми разными начинками, экспериментируя в поисках идеального сочетания и превосходного вкуса.

    .tenReasons
       
            for inner in loveItem
                .tenReasons-block
                    .tenReasons-block-info1
                        .tenReasons-block-info1-head=inner.headInf1
                        .tenReasons-block-info1-text1=inner.text1_1
                        .tenReasons-block-info1-text2=inner.text1_2
                    img.circle1(src="./assets/img/circle.png", alt="")
                    .number1=inner.number1
                    img.tenReasons-block-img(src=inner.img, alt="")
                .tenReasons-info2
                    img.circle2(src="./assets/img/circle.png", alt="")
                    .number2=inner.number2
                    .tenReasons-info2-head=inner.headInf2
                    .tenReasons-info2-text1=inner.text2_1
                    .tenReasons-info2-text2=inner.text2_2
