-
    var kindOfPizza = [
        {
                name: "Пепперони",
                descr: "Пикантная пепперони, томатный соус и сыр Моцарелла",
                url:"./assets/img/Pepperony.png",
                size1:"1/2",
                size2:"30см",
                size3:"36см",
                type1:"Тонкое",
                type2:"Традиционное",
                addition1:"+ больше сыра",
                addition2:"+ острее",
                price:"200р",
                weight:"/640гр",
                nameBtnS:"sizePeper",
                nameBtnD:"doughPeper",
                nameBtnA:"addPeper",
                id1:"Peper1",
                id2:"Peper2",
                id3:"Peper3",
                id4:"Peper4",
                id5:"Peper5",
                id6:"Peper6",
                id7:"Peper7",


                

        },
        {
                name: "Мацарэла",
                descr: "Пикантная чотенькая моцарэла",
                url:"./assets/img/Macarl.png",
                size1:"3/2",
                size2:"38см",
                size3:"36см",
                type1:"Толстое",
                type2:"Не Традиционное",
                addition1:"+ больше сыра",
                addition2:"+ острее",
                price:"2000р",
                weight:"/140гр",
                nameBtnS:"sizeMac",
                nameBtnD:"doughMac",
                nameBtnA:"addMac",
                id1:"Mac1",
                id2:"Mac2",
                id3:"Mac3",
                id4:"Mac4",
                id5:"Mac5",
                id6:"Mac6",
                id7:"Mac7",
        },
                {
                name: "Вкуснятина",
                descr: "Сочненькая пиццонька",
                url:"./assets/img/Macarl.png",
                size1:"1",
                size2:"2м",
                size3:"3м",
                type1:"Немецкий",
                type2:"Не Традиционное",
                addition1:"+ больше масла",
                addition2:"+ скорость",
                price:"20000$",
                weight:"/140гр",
                nameBtnS:"sizeCar",
                nameBtnD:"doughCar",
                nameBtnA:"addCar",

        }


    ]




.container 
    - for (var x = 0; x < 2; x++)
        .pizza-block(style='display:flex')
            for inner in kindOfPizza
                .this-pizza-block(style='position: relative;')
                    img.pizza-img(src=inner.url, alt="")
                    .pizza-block-info
                        .pizza-block-info-container
                            .pizza-name=inner.name
                            .pizza-descr.inner.descr
                            .pizza-size
                                input(type="radio" name=inner.nameBtnS+inner.name id=inner.id1+inner.name+1 class="pizza-choose")
                                label(for=inner.id1+inner.name+1 class="type")=inner.size1
                                input(type="radio" name=inner.nameBtnS+inner.name id=inner.id1+inner.name+2 class="pizza-choose")
                                label(for=inner.id1+inner.name+2 class="type")=inner.size2
                                input(type="radio" name=inner.nameBtnS+inner.name id=inner.id1+inner.name+3 class="pizza-choose")
                                label(for=inner.id1+inner.name+3 class="type")=inner.size3

                            .pizza-dough
                                input(type="radio" name=inner.nameBtnD id=inner.id1+inner.name+4 class="pizza-choose")
                                label(for=inner.id1+inner.name+4 class="type")=inner.type1
                                input(type="radio" name=inner.nameBtnD id=inner.id1+inner.name+5 class="pizza-choose")
                                label(for=inner.id1+inner.name+5 class="type")=inner.type2
                            .additions 
                                input(type="checkbox" name=inner.nameBtnW id=inner.id1+inner.name+6 class="pizza-choose")
                                label(for=inner.id1+inner.name+6 class="type")=inner.addition1
                                input(type="checkbox" name=inner.nameBtnW id=inner.id1+inner.name+7 class="pizza-choose")
                                label(for=inner.id1+inner.name+7 class="type")=inner.addition1
                    .pizza-buy 
                        .pizza-price-weight
                            .price=inner.price
                            .weight=inner.weight
                        .basket-button
                            img.basket-img(src="./assets/img/basket-basket-box.png", alt="")
                            .count 3  
    
      
    