.stock(style='background-image: url(./assets/img/stock-bg.png)')
                    .stock-info
                        img.stock-img(src="./assets/img/stock-img.png", alt="")
                        .stock-text При первом заказе на сайте закажи 2 пиццы и получи третью <span class="sale-color">бесплатно!</span>
                        .stock-button Подробнее