-
    var menu = [
        {
            name: "Пицца",
            href: "#"
        },
        {
            name:"Акции",
            href:"#"
        }
        ,
        {
            name:"Отзывы",
            href:"#"
        }
        ,
        {
            name:"Доставка и оплата",
            href:"#"
        }
        ,
        {
            name:"Почему мы любим пиццу",
            href:"#"
        }
    ]
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        #menu
            .btn-close
                button.close-button#close
            .phone 31-11-91
            ul.nav-info
            for inner in menu
                li
                    a(href= inner.href).nav-item= inner.name
            .detail-info
                .info-block
                    img.detail-info-image(src="./assets/img/address-logo.png", alt="")
                    .address г. Саранск,<br>Переулок Кириллова, 2Б
                .info-block
                    img.detail-info-image(src="./assets/img/time-logo.png", alt=" ")  
                    .time <b>пн-чт</b>:  9:00 - 22:00<br><b>пт-вс</b>:  10:00 - 23:00
            
        #panel
            .btn-open
                button.toggle-button

            header
                .container 
                    include ./pug//modules/header.pug
            main
                
                .owl-carousel
                    .delicious(style='background-image:url(./assets/img/Delicious.png)')
                        .container.posRelative
                            .delicious-text Доставляем<br> удовольствие!
                            .switching
                                //- img(src="./assets/img/swtch-pctrs.png", alt="")(style='max-height:22px;padding-top:30px;max-width: 100px;')
                    .delicious(style='background-image:url(./assets/img/Delicious.png)')
                        .container.posRelative
                            .delicious-text Доставляем<br> удовольствие!
                            .switching
                                //- img(src="./assets/img/swtch-pctrs.png", alt="")(style='max-height:22px;padding-top:30px;max-width: 100px;')
                    .delicious(style='background-image:url(./assets/img/Delicious.png)')
                            .container.posRelative
                                .delicious-text Доставляем<br> удовольствие!
                                .switching
                                    //- img(src="./assets/img/swtch-pctrs.png", alt="")(style='max-height:22px;padding-top:30px;max-width: 100px;')
            
                include ./pug//modules/pizza's.pug
                include ./pug//modules/stock.pug
                include ./pug//modules/pizza's.pug
            footer
                include ./pug//modules/footer.pug

        button#myBtn Open popup
        .popup#mypopup
            .popup-content
                .popup-header
                    h2 popup header
                    span.close &times;
                .popup-body
                    p some text
                    p other text
                .popup-footer
                    h3 popup footer
                        



           

             


        
                    
        

    