-
    var menu = [
        {
            name: "Пицца",
            href: "#"
        },
        {
            name:"Акции",
            href:"#"
        }
        ,
        {
            name:"Отзывы",
            href:"#"
        }
        ,
        {
            name:"Доставка и оплата",
            href:"#"
        }
        ,
        {
            name:"Почему мы любим пиццу",
            href:"#"
        }
    ]
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body    

        #menu
            .btn-close
                button.close-button#close
            .phone 31-11-91
            ul.nav-info
            for inner in menu
                li
                    a(href= inner.href).nav-item= inner.name
            .detail-info
                .info-block
                    img.detail-info-image(src="./assets/img/address-logo.png", alt="")
                    .address г. Саранск,<br>Переулок Кириллова, 2Б
                .info-block
                    img.detail-info-image(src="./assets/img/time-logo.png", alt=" ")  
                    .time <b>пн-чт</b>:  9:00 - 22:00<br><b>пт-вс</b>:  10:00 - 23:00
            
        #panel
            .btn-open
                button.toggle-button

            header
                .container 
                    include ./pug//modules/header.pug
                .field-choose
                    img.field-choose-basket(src="./assets/img/field-choose-delivery.png", alt="")
            main
                include ./pug//modules/lovePizza-main.pug
                include ./pug//modules/footer.pug