.basket{
    margin-top: 95px;
    &-field{
        
        margin: 0 140px;
    }
    &-name{
        margin: 90px 0 0 140px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        color: #252525;
    }
    &-settings-number{
        display: flex;
        align-items: center;
    }
    &-item{
        display: flex;
        justify-content: space-between;
            &-img {
                max-width: 200px;
                max-height: 200px;
                
                @media(max-width: 800px) {
                    max-width: 100px;
                
                    max-height: 100px;
                }
            }
        &-descr{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 25px;
            max-width: 300px;
            width: 100%;

            &-name{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #252525;
            }
            &-info{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #696969;
            }
        }
            
        &-number{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            margin: 0 15px;
            color: #252525;
            
        }
        &-price{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 27px;
            text-align: right;
            color: #252525;
            max-width: 100px;
            width: 100%;
            display: flex;
            align-items: center;
        }
        &-button{
            background: #F1F1F1;
            border-radius: 6px;
            max-height: 40px;
            padding: 10px 10px;
            font-size: 19px;
            border: none;
            
        }
        &-delete{
            width: 20px;
            height: 20px;
            display: flex;
            align-self: center;

        }
    }


}

.order{
    &-field{
        margin: 0 140px;
        margin-bottom: 70px;
    }
    &-price{
        display: flex;
        justify-content: flex-end;
    }
    &-button{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;


    }
    &-name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        text-align: right;
        color: #000000;
    }
    &-count{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-align: right;
        color: #00A74D;
        padding-left: 10px;
    }
    &-button{
        &-back{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            color: #00A74D;
            padding: 13px 30px;
            border: 1px solid #00A74D;
            box-sizing: border-box;
            border-radius: 6px;
            background-color: #fff;
        }
        &-make{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            background: #00A74D;
            box-shadow: 2px 6px 30px rgba(0, 167, 77, 0.6);
            border-radius: 6px;
            padding: 13px 30px;
            border: none;

        }
    }
}





@media (max-width:800px){
    .basket{
        &-item{
            &-img{
                max-width: 100px;
            }
            &-price{
                padding-left: 20px;
            }
        }
    
    &-field{
        margin: 0 45px;
    }
}
    .order{
        &-field{
            margin: 0 47px 20px 47px;
        }
    }
}

@media (max-width:400px){
    .field-choose-basket{
        display: none;
    }
    .basket{
        &-name{
            margin: 5px 0 0 5px;
            font-size: 15px;
        }
        &-field{
            margin: 0 12px;
        }
        &-item{
            &-img{
                max-width: 39px;
            }
            &-descr{
                margin-left: 8px;
                &-name{
                    font-size: 10px;
                }
            }
            &-button{
                font-size: 7px;
            }
            &-number{
                font-size: 12px;
            }
            &-price{
                font-size: 16px;
            }
        }
    }
    .order{
        &-field{
            margin: 0 12px 20px 11px;
        }
        &-name,&-count{
            font-size: 12px;
        }
        &-button{
            margin-top: 5px;
        }
        &-button{
            &-back,&-make{
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}