.delivery{
    &-order{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 80px;
        @media(max-width: 550px){
            margin: 30px 10px 80px 0;
        }
    }
   &-consent{
       &-text{
        margin-left: 5px;
       }
   }
    &-settings{
        max-width: 570px;
        width: 100%;
        margin: 0 auto;


        &-name{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;

            color: #252525;
            margin-bottom: 40px;

        }
        &-type{
            display: flex;
            justify-content: space-around;
            margin-bottom: 14px;
            border-radius: 6px;
            @media(max-width:550px){
                margin:0 10px 10px 10px;
            }

            &-item{
                display: none;
            }
            &-elem{
                max-width: 300px;
                width: 100%;
                background: #F1F1F1;
                border-radius: 6px;
                text-align: center;
                max-height: 40px;
                padding: 10px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #696969;

            }

            &-item:checked + &-elem{
                background-color: #F9D6C8;
            }
        }
    }
    &-field{
        &-street{
            grid-column-start: 1;
            grid-column-end: 4;
            padding-right: 21px;
            margin-bottom: 20px;
        }
        &-house{
            margin-left: 0;
            grid-column-start: 4;
            grid-column-end: 5;
        }
        &-flat{
            grid-column-start: 1;
        }
        &-porch{
            grid-column-start: 2;
            @media(max-width: 550px){
                margin-left: 10px;
            }
            
            // margin-left: 30px;
        }
        &-floor{
            grid-column-start: 3;
            @media(max-width: 550px){
                margin-left: 10px;
            }
            // margin-left: 30px;
        }
       
        

        &-elemName{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #252525;
            margin-bottom: 8px;

        }

        &-consent{
            display: flex;
            @media(max-width: 550px){
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        &-elemText{
            height: 40px;
            max-width: 120px;
            width: 100%;

           &-street{
                width: 100%;
                height: 40px;
           }
        }
        &-main{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            // grid-template-rows: repeat(2,1fr);
            margin-bottom: 20px;
            @media(max-width: 550px){
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        &-feedback{
            margin-bottom: 20px;
            @media(max-width: 550px){
                margin-left: 10px;
                margin-right: 10px;
            }

            &-text{
                width: 100%;
                height: 110px;
                resize: none;
            }
        }

    }
}



