.deliveryOrder{
    

    &-container{
        max-width: 730px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @media(max-width: 500px){
            max-width: 300px;
        }
    }
    &-head{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        padding: 30px 0;
        color: #252525;
    }
    &-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 20px;


        color: #252525;
    }
}

.big-button{
    max-width: 500px;
    width: 100%;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    padding: 20px 0;
    align-self: center;
    margin: 70px 0px;

    &-green{
        background: #00A74D;
        box-shadow: 2px 4px 20px rgba(0, 167, 77, 0.6);
    }

    &-orange{
        background: #E75B25;
        box-shadow: 2px 4px 20px rgba(231, 91, 37, 0.5);
    }

    &-lightOrange{
        background: #F9D6C8;
    }

    @media(max-width: 500px){
        max-width: 300px;
    }
    
}

