.feedback{

    &-container{
        max-width: 750px;
        margin: 0 auto;
        padding-bottom: 200px;
    }

    &-img{
        
        opacity: 0.3;
        background-color: black!important;
        position: relative;
        width: 100%;

        &-items{
            max-width: 600px;
            position: absolute;
            top: 12%;
            left: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &-assessment{

        &-cursor{
            padding-bottom: 110px;
            align-self: self-start;
        }

        &-item{

        }
    }

    &-cursor{
        position: absolute;
        top: 10%;
        right: -10%;

    }

    &-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        color: #252525;


        &-bold{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            display: flex;
            align-items: center;
            text-align: center;
            padding-bottom: 30px;
            color: #000000;

        }
    }

    &-heart{
        position: relative;
        padding-bottom: 70px;

        &-item{

        }

    }

    &-make{

    }

    &-item{
        padding-top: 50px;

        &-name{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            padding-right: 20px;
            color: #000000;

            &-date{
                display: flex;
            }
        }

        &-date{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 42px;
            /* or 164% */


            color: #696969;

        }

        &-heart{
            padding: 5px 0px;

        }

        &-text{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */


            color: #000000;


        }

        &-input{

        }
    }
}