
%font-shared{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
}

%flex-shared{
    display: flex;
}

%space-b{
    justify-content: space-between;
}

$padd:20px;
$text-color:white;
$bgc:#E75B25;
$f:footer;
$inf:info;
$bl:block;
$tm:time;
$adr:address;
$phn:phone;


.footer{
    background: $bgc;
    mix-blend-mode: normal;
    border-radius: 0px;
    }
    
    
    .#{$f}-#{$adr}-time{
        max-width: 280px;
        padding-right: 50px;
    }

    .#{$f}-#{$adr}-#{$phn}{
        @extend %flex-shared
    }

    .#{$f}-logo-and-#{$inf}{
        @extend %flex-shared
    }

    .#{$f}-#{$inf}-#{$bl}{
        @extend %flex-shared
    }
    
    .#{$f}-#{$bl}{
        @extend %space-b;
        padding-top: 50px;
        padding-bottom: 100px;
        @extend %flex-shared
    }
    
    .#{$f}-logo{
        max-height: 100px;
    }
    
    .#{$f}-#{$bl}-#{$bl}-text{
    @extend %font-shared;
    padding-top: $padd;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    
    
    color: #FFFFFF;
    }
    
    .#{$f}-#{$inf}-#{$bl}-#{$bl}{
        padding-right: 60px;
    }
    
    .#{$f}-#{$inf}{
        padding-left: $padd;
        @extend %flex-shared
    }
    
    .#{$f}-time{
        padding-top: $padd;
    }
    
    .#{$f}-#{$phn}{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
    
    color: #FFFFFF;
    }

    .#{$f}-#{$adr}{
        @extend %flex-shared
    }

    .#{$f}-time{
        @extend %flex-shared
    }

    // @media all and (max-width:550px){
    //     font-size: 9px;
    // }

    @media all and (max-width:550px){
        .footer-block-block-text{
            font-size : 9px;
    }
    }

    @media all and (max-width:1000px)and (min-width:551px){
        .footer-phone{
            padding-left: 20px;
        }
        .footer-address-time{
            max-width: 280px;
        }
        .footer-info-block-block{
            padding-right: 15px;
        }
        .footer-block-block-text {
            padding-top: 0px;
        }
        .footer-address-time{
        padding-right: 0px;
        }


    }
    @media all and (max-width:430px){
    .time{
        line-height: 20px;
    }
    .nav-item{
        padding-right: 8px;
    }

    .footer{
        &-block{
            padding-bottom: 240px;
            &-block{
                &-text{
                    font-size: 8px;
                    padding-top: 0px;
                }
            }
        }
        &-info-block-block{
            padding-right: 10px;

        }
        &-address-time{
            padding-right: 35px;
        }
        &-phone{
            padding-right: 12px;
            font-size: 22px;
        }
        &-info{
            padding-left: 0px;
        }

    }
    }