.header-info{
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 17px;
width: 100%;
max-width: 777px;
/* or 142% */


color: #252525;
}

.phone{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #252525;

}

.nav-info{
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* or 100% */


color: #252525;

}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.nav-info{
    display: flex;

}

.detail-info{
    display: flex;
}



.top-info{
    display: flex;
    justify-content: space-between;
    max-width: 777px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.address{
    padding-right: 100px;
}

.top-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    border-bottom: 2px solid black;
    border-color: #E75B25;
    padding-bottom: 10px;
    
    
}


.nav-info{
    padding-top: 6px;
    list-style-type: none;
}

.nav-item{
    position: relative;
    padding-right: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;
    list-style-type: none;
    /* or 142% */
    
    
    color: #252525;
/* or 112% */



}

.nav-item:hover{
    opacity: 0.7;
}

.nav-item:focus{
    border-top: 8px solid black;
    border-color: #E75B25;
}

.header-logo{
    height: 100%;
    width: 100%;
    max-height: 90px;
    max-width: 70px;
    // background-image: url(./assets/img/Pizza-logoF.png);
}

.basket-box{
    height: 100%;
    width: 100%;
    max-height: 60px;
    max-width: 150px;
}

header{
    padding-top: 30px;
}
.detail-info-image{
    max-width: 18px;
    max-height: 18px;
    padding-right: 7px;
}

.basket-button{
    max-width: 136px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    background: #00A74D;
    box-shadow: 2px 6px 30px rgba(0, 167, 77, 0.66);
    border-radius: 6px; 
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
}

.basket-img{
    padding: 9px 23px;
}

.basket-box-line{
    padding: 10px 5px 10px 0;
}

.count{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 30px;
    max-height: 30px;
    padding-left: 12px;
    color: #FFFFFF;
}
.delicious{
    margin-top: 20px;
    background-size: cover;
}

.delicious-text{
    padding-top: 220px;
    padding-bottom: 80px;
    font-family: 'Montserrat';
    font-size: 120px;
    line-height: 121px;
    padding-left: 75px;
    color: #E75B25;

    text-shadow: 0px 4px 30px #FFFFFF;
}

.switching{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    
    
}
.pizza-block{
    display: flex;
    margin-top: 300px;
    justify-content: space-around;
    padding-bottom: 100px;
}

.this-pizza-block{
    max-width: 320px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    position: relative;
    padding-top: 230px;
    flex-wrap: wrap;

}

.pizza-img{
   position: absolute;
   top:-25%;
   width: 320px;
}

.pizza-block-info{
    max-width: 630px;
    max-height: 310px;
    width: 100%;
    height: 100%;
    position: relative;

}

.pizza-name{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #252525;

}

.pizza-descr{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
padding-bottom: 30px;
color: #696969;
}

.pizza-size{
    display: flex;
    background: #F1F1F1;
    border-radius: 6px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-around;
}

.size{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
max-width: 100px;
width: 100%;
border-radius: 6px;
color: #696969;


}

.pizza-block-info-container{
    max-width: 310px;
    margin: 0 auto;
}

.pizza-dough{
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    
    border-radius: 6px;
}

.type{
max-width: 150px;
width: 100%;
background: #F1F1F1;
border-radius: 6px;
text-align: center;
}

.additions{
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
    
    border-radius: 6px;
}

.additions-type{
max-width: 150px;
width: 100%;
background: #F1F1F1;
border-radius: 6px;
text-align: center;
}

.pizza-buy{
    display: flex;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
    margin-bottom: 35px;
}
.pizza-price-weight{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.price{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #252525;
}

.weight{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

color: #696969;
}


.stock{
    padding-bottom: 50px;
    
}

.stock-info{
    padding-left: 330px;
    max-width: 550px;
}

.stock-img{
    margin-top: 150px;
}

.stock-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;

color: #252525;
}

.stock-button{
max-width: 270px;
max-height: 54px;
width: 100%;
height: 100%;
background: #E75B25;
box-shadow: 2px 8px 20px rgba(231, 91, 37, 0.6);
border-radius: 6px;
color:white;
margin-top: 10px;
padding: 10px;
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
}

.sale-color{
    color: #E75B25;
}


.pizza-choose{
display: none;
}

.label-choose{
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
max-width: 100px;
width: 100%;
border-radius: 6px;
color: black;
background-color: #F1F1F1;
}

.pizza-choose:checked + .type{
    background-color: #F9D6C8;
}

.toggle-button {
    transition: 0.1s;
    border:none;
    position: relative;
    display: none;
    width: 50px;
    height: 25px;
    margin: 20px auto;
    border-top: 5px solid #E75B25;;
    border-bottom: 5px solid #E75B25;
    background-color: white;
    margin-left: 10px;
    transition: 3s;
}
.toggle-button:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    border-top: 5px solid #E75B25;;
}
.content{
    padding: 10px 0 0 0 ;
}

.posRelative{
    position: inherit;
}

.owl-nav{
    max-width: 241px;
    position: absolute;
    top: 83%;
    right: 18%;
}

.owl-next{
    // position: absolute;
    // top: 90%;
    // right: 9%;
    // top: 83%;
    width: 100px;
    height: 100px;
    background: #FFFFFF!important;
    opacity: 0.8;
    border-radius: 6px 0px 0px 0px;
    font-size: 43px!important;
    color: orange!important;
}

.owl-prev{
    // position: absolute;
    // top: 90%;
    // right: 15%;
    // margin-right: 6px;
    // top: 83%;
    width: 100px;
    height: 100px;
    background: #FFFFFF!important;
    opacity: 0.8;
    border-radius: 6px 0px 0px 0px;
    font-size: 43px!important;
    color: orange!important;
}

.owl-dots{
    position: absolute;
    top: 88%;
    left: 44%;
    font-size: 43px;
    color: orange;
}

.owl-dot{
// position: absolute;
width: 15px;
height: 15px;


background: #E75B25 !important;
opacity: 0.3;
border-radius: 50%;
// position: absolute;
margin-right: 30px;
}

.active{
    border-radius: 50%; 
    width: 30px;
    height: 30px;   
}

.field-choose{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr; 
}
.field-choose-basket{
    grid-column-start: 2;
    max-width: 300px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

























@media all and (max-width:550px){
    .delicious-text{
        font-size: 54px;
        line-height: 66px;
        
    }
    .basket-img{
        padding: 4px 14px;
    }
    .basket-button{
        max-width: 100px;
        
    }

    .header-info{
        font-size: 9px;
    }

    .phone{
        font-size: 16px;
    }

    .nav-item{
        font-size: 9px;
    }

    .delicious-text{
        padding-top: 40px;
        padding-bottom: 10px;
        padding-left: 15px;
        font-size: 25px;
    }

    .pizza-block{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 178px;
    padding-bottom: 0px;
    }

    .this-pizza-block{
        padding-bottom: 0px;
        margin-bottom: 174px;
    }

    .pizza-img{
        top: -35%;
    }

    .stock-info{
        padding-left: 22px;
    }

    .stock-text{
        font-size: 16px;
    }
    .stock-img{
        width: 100px;
    }
    


   
}

@media all and (max-width:1000px)and (min-width:551px){
    .header{
        justify-content: space-around;
    }
    .header-info{
        max-width: 500px;
    }
    .basket-button{
        max-width: 79px;
    }
    .basket-img{
        padding: 6px 6px;
    }
    .delicious-text{
    font-size: 70px;
    line-height: 105px;
    padding-left: 35px;
    }

    .pizza-img{
        top: -2%;
        width: 200px;
    }

    .pizza-block{
        margin-top: 80Px;
        justify-content: space-around;
        padding-bottom: 100px;
    }

    .this-pizza-block{
        max-width: 200px;
        padding-top: 208px;
        flex-wrap: wrap;
    }

    .pizza-block-info-container{
        max-width: 175px;
    }

    .pizza-name{
        font-size: 17px;
    }

    .pizza-size{
        margin-bottom: 10px;
    }
    .type{
        max-width: 90px;
        font-size: 14px;
    }
    .price{
        font-size: 14px;
    }
    .pizza-buy{
        justify-content: space-around;
    }
}

@media(max-width:430px){
    .header{
        margin: 0 50px;
    }
    .basket-button{
        max-width: 87px;
        max-height: 55px;
        margin-right: 10px;
        margin-right: 10px;
        margin-top: 23px;
    }
    .count{
        padding-left: 5px;
    }
    .basket-img{
        padding: 4px 11px;
    }
    .count{
        padding-left: 8px;
    }
    .address{
        padding-right: 0px;
        line-height: 20px;
    }
    .header-info{
        max-width: 186px;
    }
    .nav-item{
        padding-right: 3px;
        line-height: 0px;
    }
    .toggle-button{
        display: block;
        margin-top: 10px;
        grid-column-start: 2;
    }

    .header-info{
        display: none;

    }
    .detail-info{
        flex-direction: column;
    }
    .info-block{
        padding-bottom: 22px;
    }
    
    .close-button{
        
            
        border:none;
        position: relative;
        display: block;
        width: 50px;
        height: 25px;
        // margin: 20px auto;
        border-top: 5px solid #E75B25;;
        border-bottom: 5px solid #E75B25;
        background-color: white;
        margin-left: 10px;
        transition: 3s;
        grid-column-start: 2;
        
        
        
    }
    .close-button:before {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0px;
        width: 100%;
        border-top: 5px solid #E75B25;;
    } 
    .btn-close{
        display: grid;
        grid-template-columns: 2fr 1fr;
        
    }
    .btn-open{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    .detail-info{
        margin-top: 187px;
        
    }
    .time{
        line-height: 20px;

    }
    .nav-item{
        font-size: 16px;
    }
    .owl-nav{
        top: 84%;
        right: 4%;
    }
    .owl-prev{
        width: 40px;
        height: 40px;
        font-size: 20px!important;
    }
    .owl-next{
        width: 40px;
        height: 40px;
        font-size: 20px!important;
    }
    .owl-dots{
        display: none;
    }
}




