.lovePizza{
    &-img{
        background-size:cover;
        width: 100%;
        @media (max-width:400px) {
            margin-top: 20px;
        }

    }
    &-reasons{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        color: #E75B25;
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30px;

        &-text{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #696969;
            max-width: 770px;
            margin: 0 auto;
            margin-bottom: 60px;
            @media (max-width:400px) {
                 margin-left: 10px;
            }
            @media (max-width:400px) {
                margin-bottom: 20px;
                font-size: 13px;
                line-height: 20px;
            }
        }
        @media (max-width:400px) {
            margin: 10px auto;
            font-size: 20px;
            line-height: 22px;
        }
    }
}

.tenReasons{
    &-container{
        max-width: 1200px;
        margin-left: 235px;
    }
    &-block{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-img{
            width: 100%;
            @media (max-width:400px) {
                height: 100%;
            }
        }

        &-info1{
            max-width: 440px;
            margin-left: 300px;
            margin-right: 30px;
            @media (max-width: 1200px){
                margin-left: 90px;
            
            }
            @media (max-width:400px) {
                margin-left: 10px;
            }

            &-head{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 34px;
                color: #000000;
                margin-bottom: 30px;
                @media (max-width:400px) {
                    font-size: 11px;
                    line-height: 17px;
                    margin-bottom: 10px;
                }

            }

            &-text1,&-text2{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 30px;
                @media (max-width:400px) {
                    font-size: 8px;
                    line-height: 7px;
                    margin-bottom: 10px;
                }

            }
        }
        
    }
    &-info2{
        position: relative;
        margin-top: 140px;
        margin-bottom: 140px;
        max-width: 770px;
        margin-left: 370px;
        &-head{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: #000000;
            margin-bottom: 30px;
            @media (max-width:400px) {
                font-size: 11px;
                line-height: 17px;
                margin-bottom: 10px;
            }
        }
        &-text1,&-text2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 30px;
            @media (max-width:400px) {
                font-size: 8px;
                line-height: 7px;
                margin-bottom: 10px;
            }
        }
        @media (max-width:1200px) {
            margin-left: 180px;
            
        }
        @media (max-width:400px) {
            margin-left: 60px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
    }
}

.circle1{
    position: absolute;
    right: 47.5%;
    top: 10%;
    @media (max-width:1200px) {
        width: 5%;
    }
    @media (max-width:400px) {
        width: 11%;
        right: 44.5%;
    }
}
.number1{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    right: 49.3%;
    top: 14%;
    color: white;
    @media (max-width:1200px) {
        font-size: 30px;
        top:10%;
        
    }
    @media (max-width: 800px) {
    font-size: 18px;
    top: 9.5%;
    right: 49.5%;
    }
    @media (max-width:400px) {
        font-size: 17px;
        top: 8.5%;
        right: 49%;
    }
}
.circle2{
    position: absolute;
    right: 105%;
    top: -15%;
    @media (max-width: 800px) {
        max-width: 60px;
    }
    @media (max-width:400px) {
        max-width: 45px;
        right: 103%;
        top: 0%;
    }
}
    

.number2{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    right: 109.7%;
    top: -3%;
    color: white;
    @media (max-width: 800px) {
        right: 108%;
        top: -12%;
        font-size: 25px;
    }
    @media (max-width:400px) {
        right: 108%;
        top: 0%;
        font-size: 18px;
}
}
