.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(229,145,60,0.5);

    &-underline{
        width: 100%;
        height: 1px;
        background: #C4C4C4;
    }

    &-input{
        width: 100%;
        border: none;
        
        &-form{
            padding-top: 80px;
            width: 100%;
            padding-bottom: 15px;
        }
    }

    &-container{
        max-width: 630px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-header{
        background-color: #5c82b8;
        color: white;
        display: flex;
        padding: 2px 16px;

    }

    &-body{
        padding: 2px 16px;

    }

    &-footer{
        padding: 2px 16px;
        background-color: #5c82b8;
        color: white;
    }

    &-content{
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        animation-name: animatetop;
        animation-duration: 0.4s;
        margin-top: 400px;
        max-width: 770px;
    }


}

.close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    position: absolute;
    right: 1%;

}

.close:hover,:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;

}


@keyframes animatetop{
    from{
        top:-300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }

}

.stop{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    position: absolute;
    right: 1%;

}

.stop:hover,:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;

}