/* body { 
    width: 100%;
    height: 100%;
  } */ 
  
  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 266px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    display: none;
    transition: .8s;
   
    top: 10px;
    
   
    
  }


  
  .slideout-menu-left {
    left: 11px;
    
  }
  
  .slideout-menu-right {
    right: 0;
  }
  .slideout-open .slideout-panel {
        transform: translateX(-100%) !important;
  }
  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    transition:  0.3s ;
    /* transform: translateX(-100%) !important; */
    
    
    /* background-color: #FFF; A background-color is required */
    /* min-height: 100vh; */
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
    
  }
  
  .slideout-open .slideout-menu {
    display: block;
    
  }